.detail-top {
    background-color: rgb(23, 203, 226);
    padding         : 0 4%;

    .title {
        font-size : 16px;
        text-align: center;
    }

    .content {
        display: flex;

        .date {
            flex: 1;
        }

        .bill-item {
            flex: 2;
        }
    }

    .apps {
        background-color: white;
        display         : flex;
        justify-content : space-around;
        text-align      : center;
        border-radius   : 8px;
    }
}

.detail-items {
    .detail-item {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        padding        : 5px;
    }

    .detail-date {
        border-bottom: 1px solid #cecece;
    }

    .category_icon {
        border-radius   : 50%;
        background-color: #66616110;
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : 28px;
        height          : 28px;
        float           : left;
        margin-right    : 5px;

        .SvgIcon {
            color: rgb(23, 203, 226);
        }
    }
}